[Unit]
Description=faceless: пополнение очереди каждые 6 часов

[Timer]
OnCalendar=*-*-* 00,06,12,18:20
RandomizedDelaySec=15min
Persistent=true

[Install]
WantedBy=timers.target
